.shop__container {    
    width: 100%;
}

.shop__container__wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.shop__checkout {
    border: 1px solid #07A0C3;
    border-radius: 5px;
    flex: 1 1 30%;
    padding: 10px;
    
    margin-top: 20px;
    text-align: right;
}