.shop__products {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

.shop__products ul,
.shop__products li {
  list-style: none outside;
  margin: 0;
  padding: 0;
} 

.shop__products ul {
  display: flex;
}

.shop__products li {
  border: 1px solid #000;
  margin: 16px;
  min-height: 100px;
  padding: 10px;
  text-align: left;
  width: calc(25% - 32px)
}

.product__input {
  color: #666;
  display: flex;
  margin: 0 auto;
}


.product__input .quantity {
  border: 1px solid #ccc;
  height: 24px;
  margin: 0 12px;
  text-align: center;
  width: 48px;
}


.product__input .decrement,
.product__input .increment {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: inherit;
  font-size: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  width: 24px;
}
