.shop__column {    
    /* flex: 1 1 auto; */
    flex: 1 1 60%;
}

/* Total Component */
.shop__cart__product-name,
.shop__cart__product-qty {
    margin: 0;
    padding: 0;
}

.shop__cart__product {
    margin-bottom: 10px;
}

.shop__cart__product span {
    display: inline-block;
}

.shop__cart__product-name {
    font-weight: bold;
    width: 40%;
}

.shop__cart__product-qty {
    margin-left: 4px;
}