

.shop__checkout table {
    width: 100%;
}

.shop__checkout table thead td,
.shop__checkout table tbody td {
    padding: 5px;
    text-align: center;
    width: 33%;
}

.shop__checkout table tbody .promo-row td {
    padding:  0 5px;
}

.shop__checkout thead td:first-child,
.shop__checkout thead td:last-child {
    border-bottom: 1px solid #000;
}

.shop__checkout thead td:first-child,
.shop__checkout tbody td:first-child {
    text-align: left;
}

.shop__checkout thead td:last-child,
.shop__checkout tbody td:last-child {
    text-align: right;
}

.shop__checkout table tr.promo-row td {
    font-size: 12px;
    color: #999;
}